@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
  body		{ font-family: 'NanumSquare', sans-serif; }
.normal		{ font-weight: 400 }
.bold		{ font-weight: 700 }
.bolder		{ font-weight: 800 }
.light		{ font-weight: 300 }

.padding {
  padding-top: 15%;
}
.padding-1 {
  padding-top: 7px;
}
.padding-2 {
  padding-top: 58.5px;
}
.padding-3 {
  padding-top: 18px;
}
 body {
   background: #FAFAFA;
 }
 .footer {
   background-color: #263238;
   text-align: center;
   padding-top: 57px;
   padding-bottom: 57px;
 }
 .footer p {
   color: #ffffff;
   margin: 7.5px;
 }
 .delay-0 {
    animation-delay: 0.5s;
}
.delay-1 {
   animation-delay: 1s;
}
.center {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}
